@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.back-btn {
  text-align: left;
  color: $color-base;
  font-size: 20px;
  font-weight: bold;
  display: block;
  max-width: 40rem;
  margin: 20px auto 64px;
}